.header
  display: flex
  align-items: center
  gap: 6px
  border-bottom: 1px solid #222
  flex-shrink: 0
  height: 28px

.tab
  font-size: 12px
  padding: 2px 8px
  background: transparent
  color: white
  border: 1px solid #222
  border-bottom-color: black
  margin-bottom: -1px
  align-self: stretch
  border-radius: 10px 10px 0 0
  corner-shape: squircle
  align-content: center
  border-left-color: transparent
  border-top-left-radius: 0

.size
  margin-left: auto
  color: #888
  font-size: 11px

.iconBtn
  background: transparent
  border: none
  color: #888
  border-radius: 4px
  cursor: pointer
  display: flex
  align-items: center
  font-size: 14px
  padding-block: 4px

  &:hover
    color: white
