.editor
  height: 100%
  width: 100%

.textarea
  width: 100%
  height: 100%
  background: #000
  color: #e0e0e0
  border: none
  padding: 12px
  font-family: code, monospace
  font-size: 14px
  line-height: 1.3
  resize: none
  outline: none
  white-space: pre-wrap
  word-break: break-all

.monacoTokenHighlight
  background: rgba(255, 255, 255, 0.1) !important

.monacoTokenInlineHighlight
  background: rgba(255, 224, 102, 0.3) !important
  border-radius: 2px
