.container
  height: 100%
  width: 100%

.tokenHighlight
  background: rgba(255, 255, 255, 0.1) !important
  @include light
    background: rgba(0, 0, 0, 0.08) !important

.tokenInlineHighlight
  background: rgba(255, 224, 102, 0.3) !important
  border-radius: 2px
