.count
  font-size: 24px
  text-align: center
  margin-bottom: 16px

.countElement
  display: flex
  flex-direction: column

.countLabel
  font-size: 10px
  line-height: 0.5
  font-weight: 200
  color: gray
