.container
  display: flex
  flex-direction: column
  gap: 4px

.empty
  color: #555
  font-size: 12px
  padding: 6px 4px

.item
  display: flex
  align-items: center
  padding-block: 8px
  gap: 8px
  *:first-child
    height: 20px
