$borderColor: #222

.dropOverlay
  position: absolute
  inset: 0
  background: rgba(0, 0, 0, 0.75)
  display: flex
  align-items: center
  justify-content: center
  font-size: 18px
  color: #888
  z-index: 20
  pointer-events: none

.paneSeparator
  width: 1px
  background: $borderColor
  cursor: col-resize

.pane
  position: relative
  height: 100%
  display: flex
  flex-direction: column
  overflow: hidden

.paneBody
  flex: 1
  overflow: hidden
  min-height: 0

.preprocessedView
  font-family: code
  padding: 12px
  white-space: pre-wrap
  word-break: break-all
  color: #ccc
  line-height: 1.5
  overflow: auto
  height: 100%

.idsView
  font-family: main
  font-size: 90%
  padding: 6px
  display: flex
  flex-wrap: wrap
  gap: 2px
  align-content: flex-start
  overflow-y: auto
  height: 100%
  color: oklch(95% 0.1 94)
  place-content: start
  &.empty
    display: flex
    align-items: center
    justify-content: center
  >*
    padding-inline: 4px
    border-radius: 4px
    corner-shape: squircle
    background: oklch(from currentColor 30% 0.05 h)
    text-align: right
    &:nth-child(even)
      color: oklch(90% 0.15 250)

.empty
  color: #444
  font-style: italic
