.container
  display: flex
  align-items: center
  gap: 2px
  border-bottom: 1px solid #222
  flex-shrink: 0
  height: 28px

.tab
  font-size: 12px
  padding: 2px 8px
  background: transparent
  border: 1px solid transparent
  color: #888
  cursor: pointer
  align-self: stretch
  border-radius: 10px 10px 0 0
  corner-shape: squircle
  align-content: center
  transition: all 0.1s

  &:hover
    color: white
    border-color: #333

  &.active
    color: white
    margin-bottom: -1px
    border: 1px solid #222
    border-bottom-color: black
    &:first-child
      border-left-color: transparent
      border-top-left-radius: 0
