.card
  display: flex
  align-items: center
  cursor: pointer
  flex-direction: column
  &:hover
    .triangle
      color: gray

.loading
  opacity: .72

.profile
  display: flex
  flex-direction: column
  align-items: center
  cursor: grab
  align-self: stretch

.triangle
  line-height: 0.8
  color: transparent
  margin-top: -4px

.focused
  .triangle
    color: white

.count
  font-size: 24px
  text-align: center
  margin-bottom: 16px

.countElement
  display: flex
  flex-direction: column

.countLabel
  font-size: 10px
  line-height: 0.5
  font-weight: 200
  color: gray

.countLoading
  animation: blink 1s step-end infinite

.countError
  color: #e44

.countNa
  color: #444

@keyframes blink
  0%, 100%
    opacity: 1
  50%
    opacity: 0.3
