.card
  display: flex
  align-items: center
  gap: 8px
  padding: 6px 10px
  border: 1px solid #222
  cursor: pointer
  min-width: 120px
  flex-direction: column
  &:hover
    border-color: #444
    background: #1a1a1a

.focused
  border-color: #fff

.loading
  opacity: .72

.icon
  height: 48px

.name
  font-size: 13px
  font-weight: 600
  line-height: 1.1
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.subname
  font-size: 10px
  color: #555
  line-height: 1.1
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.count
  font-family: code, monospace
  font-size: 14px
  font-weight: 500
  min-width: 2em
  text-align: right

.countLoading
  animation: blink 1s step-end infinite

.countError
  color: #e44

.countNa
  color: #444

@keyframes blink
  0%, 100%
    opacity: 1
  50%
    opacity: 0.3
