@import-normalize
@import-sanitize

@font-face
  font-family: main
  src: local("Geologica"), local("Geologica NF")

@font-face
  font-family: code
  src: local("JetBrains Mono"), local("JetBrains Mono NF")

html
  height: 100vh
body
  height: 100vh

:root
  color-scheme: dark
  background: black
  color: white
  font-family: main, system-ui, sans-serif
  user-select: none
  height: 100vh
  @include light
    color-scheme: light
    background: white
    color: black

a:hover
  text-decoration: underline

code
  font-family: code, monospace

pre>code
  white-space: pre-wrap
